In [1]:
import pandas as pd
import numpy as np

In [40]:
store20 = pd.read_csv('./추가자료/추가자료/서울시 우리마을가게 상권분석서비스(상권-점포).csv',encoding = 'euc-kr')
est_sales20 = pd.read_csv('./추가자료/추가자료/서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding = 'euc-kr')
store19 = pd.read_csv('./추가자료/추가자료/서울시_우리마을가게_상권분석서비스(상권-점포)_2019년.csv', encoding = 'euc-kr')
est_sales19 = pd.read_csv('./추가자료/추가자료/서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019.csv', encoding = 'euc-kr')

In [41]:
print(store20.shape)
print(est_sales20.shape)
print(store19.shape)
print(est_sales19.shape)

(184555, 15)
(66511, 80)
(365030, 15)
(177230, 80)

In [44]:
print(store20.columns)
print(store19.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')
Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [46]:
print(est_sales20.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [54]:
store20.info()
est_sales20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184555 entries, 0 to 184554
Data columns (total 15 columns):
기준_년_코드        184555 non-null int64
기준_분기_코드       184555 non-null int64
상권_구분_코드       184555 non-null object
상권_구분_코드_명     184555 non-null object
상권_코드          184555 non-null int64
상권_코드_명        184555 non-null object
서비스_업종_코드      184555 non-null object
서비스_업종_코드_명    184555 non-null object
점포_수           184555 non-null int64
유사_업종_점포_수     184555 non-null int64
개업_율           184555 non-null int64
개업_점포_수        184555 non-null int64
폐업_률           184555 non-null int64
폐업_점포_수        184555 non-null int64
프랜차이즈_점포_수     184555 non-null int64
dtypes: int64(10), object(5)
memory usage: 21.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66511 entries, 0 to 66510
Data columns (total 80 columns):
기준_년_코드            66511 non-null int64
기준_분기_코드           66511 non-null int64
상권_구분_코드           66511 non-null object
상권_구분_코드_명         66511 non-null object
상권_코드              66511 non-null int64
상권_코드_명            66511 non-null object
서비스_업종_코드          66511 non-null object
서비스_업종_코드_명        66511 non-null object
당월_매출_금액           66511 non-null int64
당월_매출_건수           66511 non-null int64
주중_매출_비율           66511 non-null int64
주말_매출_비율           66511 non-null int64
월요일_매출_비율          66511 non-null int64
화요일_매출_비율          66511 non-null int64
수요일_매출_비율          66511 non-null int64
목요일_매출_비율          66511 non-null int64
금요일_매출_비율          66511 non-null int64
토요일_매출_비율          66511 non-null int64
일요일_매출_비율          66511 non-null int64
시간대_00~06_매출_비율    66511 non-null int64
시간대_06~11_매출_비율    66511 non-null int64
시간대_11~14_매출_비율    66511 non-null int64
시간대_14~17_매출_비율    66511 non-null int64
시간대_17~21_매출_비율    66511 non-null int64
시간대_21~24_매출_비율    66511 non-null int64
남성_매출_비율           66511 non-null int64
여성_매출_비율           66511 non-null int64
연령대_10_매출_비율       66511 non-null int64
연령대_20_매출_비율       66511 non-null int64
연령대_30_매출_비율       66511 non-null int64
연령대_40_매출_비율       66511 non-null int64
연령대_50_매출_비율       66511 non-null int64
연령대_60_이상_매출_비율    66511 non-null int64
주중_매출_금액           66511 non-null int64
주말_매출_금액           66511 non-null int64
월요일_매출_금액          66511 non-null int64
화요일_매출_금액          66511 non-null int64
수요일_매출_금액          66511 non-null int64
목요일_매출_금액          66511 non-null int64
금요일_매출_금액          66511 non-null int64
토요일_매출_금액          66511 non-null int64
일요일_매출_금액          66511 non-null int64
시간대_00~06_매출_금액    66511 non-null int64
시간대_06~11_매출_금액    66511 non-null int64
시간대_11~14_매출_금액    66511 non-null int64
시간대_14~17_매출_금액    66511 non-null int64
시간대_17~21_매출_금액    66511 non-null int64
시간대_21~24_매출_금액    66511 non-null int64
남성_매출_금액           66511 non-null int64
여성_매출_금액           66511 non-null int64
연령대_10_매출_금액       66511 non-null int64
연령대_20_매출_금액       66511 non-null int64
연령대_30_매출_금액       66511 non-null int64
연령대_40_매출_금액       66511 non-null int64
연령대_50_매출_금액       66511 non-null int64
연령대_60_이상_매출_금액    66511 non-null int64
주중_매출_건수           66511 non-null int64
주말_매출_건수           66511 non-null int64
월요일_매출_건수          66511 non-null int64
화요일_매출_건수          66511 non-null int64
수요일_매출_건수          66511 non-null int64
목요일_매출_건수          66511 non-null int64
금요일_매출_건수          66511 non-null int64
토요일_매출_건수          66511 non-null int64
일요일_매출_건수          66511 non-null int64
시간대_건수~06_매출_건수    66511 non-null int64
시간대_건수~11_매출_건수    66511 non-null int64
시간대_건수~14_매출_건수    66511 non-null int64
시간대_건수~17_매출_건수    66511 non-null int64
시간대_건수~21_매출_건수    66511 non-null int64
시간대_건수~24_매출_건수    66511 non-null int64
남성_매출_건수           66511 non-null int64
여성_매출_건수           66511 non-null int64
연령대_10_매출_건수       66511 non-null int64
연령대_20_매출_건수       66511 non-null int64
연령대_30_매출_건수       66511 non-null int64
연령대_40_매출_건수       66511 non-null int64
연령대_50_매출_건수       66511 non-null int64
연령대_60_이상_매출_건수    66511 non-null int64
점포수                66511 non-null int64
dtypes: int64(75), object(5)
memory usage: 40.6+ MB

In [51]:
df20 = pd.merge(store20, est_sales20, how='outer', on= ['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명'])

In [83]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184689 entries, 0 to 184688
Data columns (total 87 columns):
기준_년_코드            184689 non-null int64
기준_분기_코드           184689 non-null int64
상권_구분_코드           184689 non-null object
상권_구분_코드_명         184689 non-null object
상권_코드              184689 non-null int64
상권_코드_명            184689 non-null object
서비스_업종_코드          184689 non-null object
서비스_업종_코드_명        184689 non-null object
점포_수               184555 non-null float64
유사_업종_점포_수         184555 non-null float64
개업_율               184555 non-null float64
개업_점포_수            184555 non-null float64
폐업_률               184555 non-null float64
폐업_점포_수            184555 non-null float64
프랜차이즈_점포_수         184555 non-null float64
당월_매출_금액           66511 non-null float64
당월_매출_건수           66511 non-null float64
주중_매출_비율           66511 non-null float64
주말_매출_비율           66511 non-null float64
월요일_매출_비율          66511 non-null float64
화요일_매출_비율          66511 non-null float64
수요일_매출_비율          66511 non-null float64
목요일_매출_비율          66511 non-null float64
금요일_매출_비율          66511 non-null float64
토요일_매출_비율          66511 non-null float64
일요일_매출_비율          66511 non-null float64
시간대_00~06_매출_비율    66511 non-null float64
시간대_06~11_매출_비율    66511 non-null float64
시간대_11~14_매출_비율    66511 non-null float64
시간대_14~17_매출_비율    66511 non-null float64
시간대_17~21_매출_비율    66511 non-null float64
시간대_21~24_매출_비율    66511 non-null float64
남성_매출_비율           66511 non-null float64
여성_매출_비율           66511 non-null float64
연령대_10_매출_비율       66511 non-null float64
연령대_20_매출_비율       66511 non-null float64
연령대_30_매출_비율       66511 non-null float64
연령대_40_매출_비율       66511 non-null float64
연령대_50_매출_비율       66511 non-null float64
연령대_60_이상_매출_비율    66511 non-null float64
주중_매출_금액           66511 non-null float64
주말_매출_금액           66511 non-null float64
월요일_매출_금액          66511 non-null float64
화요일_매출_금액          66511 non-null float64
수요일_매출_금액          66511 non-null float64
목요일_매출_금액          66511 non-null float64
금요일_매출_금액          66511 non-null float64
토요일_매출_금액          66511 non-null float64
일요일_매출_금액          66511 non-null float64
시간대_00~06_매출_금액    66511 non-null float64
시간대_06~11_매출_금액    66511 non-null float64
시간대_11~14_매출_금액    66511 non-null float64
시간대_14~17_매출_금액    66511 non-null float64
시간대_17~21_매출_금액    66511 non-null float64
시간대_21~24_매출_금액    66511 non-null float64
남성_매출_금액           66511 non-null float64
여성_매출_금액           66511 non-null float64
연령대_10_매출_금액       66511 non-null float64
연령대_20_매출_금액       66511 non-null float64
연령대_30_매출_금액       66511 non-null float64
연령대_40_매출_금액       66511 non-null float64
연령대_50_매출_금액       66511 non-null float64
연령대_60_이상_매출_금액    66511 non-null float64
주중_매출_건수           66511 non-null float64
주말_매출_건수           66511 non-null float64
월요일_매출_건수          66511 non-null float64
화요일_매출_건수          66511 non-null float64
수요일_매출_건수          66511 non-null float64
목요일_매출_건수          66511 non-null float64
금요일_매출_건수          66511 non-null float64
토요일_매출_건수          66511 non-null float64
일요일_매출_건수          66511 non-null float64
시간대_건수~06_매출_건수    66511 non-null float64
시간대_건수~11_매출_건수    66511 non-null float64
시간대_건수~14_매출_건수    66511 non-null float64
시간대_건수~17_매출_건수    66511 non-null float64
시간대_건수~21_매출_건수    66511 non-null float64
시간대_건수~24_매출_건수    66511 non-null float64
남성_매출_건수           66511 non-null float64
여성_매출_건수           66511 non-null float64
연령대_10_매출_건수       66511 non-null float64
연령대_20_매출_건수       66511 non-null float64
연령대_30_매출_건수       66511 non-null float64
연령대_40_매출_건수       66511 non-null float64
연령대_50_매출_건수       66511 non-null float64
연령대_60_이상_매출_건수    66511 non-null float64
점포수                66511 non-null float64
dtypes: float64(79), int64(3), object(5)
memory usage: 124.0+ MB

In [110]:
df20.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [99]:
df2020 = df20.dropna(axis=0)
print(df2020.shape)
print(df20.shape)

(66377, 87)
(184689, 87)

In [127]:
df20.loc[df20['상권_코드_명']=='서울 성북구 미아삼거리역_2','상권_코드_명'] = '서울 강북구 미아삼거리역_2'

In [130]:
area = pd.read_csv('./추가자료/추가자료/서울시 우리마을가게 상권분석서비스(상권영역).csv',encoding = 'euc-kr')
area.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,201810,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,NaN
1,201810,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,NaN
2,201810,R,전통시장,1001413,까치산시장,186493,448134,11500,11500593,NaN
3,201810,R,전통시장,1001414,송화골목시장,185468,449994,11500,11500611,NaN
4,201810,R,전통시장,1001452,중부시장,196125,442779,11620,11620575,NaN

In [131]:
area = area[['상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','행정동_코드']]
area.head()

  상권_구분_코드 상권_구분_코드_명    상권_코드 상권_코드_명    행정동_코드
0        R       전통시장  1001475  강남개포시장  11680670
1        R       전통시장  1001412  화곡본동시장  11500590
2        R       전통시장  1001413   까치산시장  11500593
3        R       전통시장  1001414  송화골목시장  11500611
4        R       전통시장  1001452    중부시장  11620575

In [137]:
df_final20 = pd.merge(df20,area,how='outer',on=['상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명'])
df_final20.shape

(184689, 88)

In [138]:
df_final20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184689 entries, 0 to 184688
Data columns (total 88 columns):
기준_년_코드            184689 non-null int64
기준_분기_코드           184689 non-null int64
상권_구분_코드           184689 non-null object
상권_구분_코드_명         184689 non-null object
상권_코드              184689 non-null int64
상권_코드_명            184689 non-null object
서비스_업종_코드          184689 non-null object
서비스_업종_코드_명        184689 non-null object
점포_수               184555 non-null float64
유사_업종_점포_수         184555 non-null float64
개업_율               184555 non-null float64
개업_점포_수            184555 non-null float64
폐업_률               184555 non-null float64
폐업_점포_수            184555 non-null float64
프랜차이즈_점포_수         184555 non-null float64
당월_매출_금액           66511 non-null float64
당월_매출_건수           66511 non-null float64
주중_매출_비율           66511 non-null float64
주말_매출_비율           66511 non-null float64
월요일_매출_비율          66511 non-null float64
화요일_매출_비율          66511 non-null float64
수요일_매출_비율          66511 non-null float64
목요일_매출_비율          66511 non-null float64
금요일_매출_비율          66511 non-null float64
토요일_매출_비율          66511 non-null float64
일요일_매출_비율          66511 non-null float64
시간대_00~06_매출_비율    66511 non-null float64
시간대_06~11_매출_비율    66511 non-null float64
시간대_11~14_매출_비율    66511 non-null float64
시간대_14~17_매출_비율    66511 non-null float64
시간대_17~21_매출_비율    66511 non-null float64
시간대_21~24_매출_비율    66511 non-null float64
남성_매출_비율           66511 non-null float64
여성_매출_비율           66511 non-null float64
연령대_10_매출_비율       66511 non-null float64
연령대_20_매출_비율       66511 non-null float64
연령대_30_매출_비율       66511 non-null float64
연령대_40_매출_비율       66511 non-null float64
연령대_50_매출_비율       66511 non-null float64
연령대_60_이상_매출_비율    66511 non-null float64
주중_매출_금액           66511 non-null float64
주말_매출_금액           66511 non-null float64
월요일_매출_금액          66511 non-null float64
화요일_매출_금액          66511 non-null float64
수요일_매출_금액          66511 non-null float64
목요일_매출_금액          66511 non-null float64
금요일_매출_금액          66511 non-null float64
토요일_매출_금액          66511 non-null float64
일요일_매출_금액          66511 non-null float64
시간대_00~06_매출_금액    66511 non-null float64
시간대_06~11_매출_금액    66511 non-null float64
시간대_11~14_매출_금액    66511 non-null float64
시간대_14~17_매출_금액    66511 non-null float64
시간대_17~21_매출_금액    66511 non-null float64
시간대_21~24_매출_금액    66511 non-null float64
남성_매출_금액           66511 non-null float64
여성_매출_금액           66511 non-null float64
연령대_10_매출_금액       66511 non-null float64
연령대_20_매출_금액       66511 non-null float64
연령대_30_매출_금액       66511 non-null float64
연령대_40_매출_금액       66511 non-null float64
연령대_50_매출_금액       66511 non-null float64
연령대_60_이상_매출_금액    66511 non-null float64
주중_매출_건수           66511 non-null float64
주말_매출_건수           66511 non-null float64
월요일_매출_건수          66511 non-null float64
화요일_매출_건수          66511 non-null float64
수요일_매출_건수          66511 non-null float64
목요일_매출_건수          66511 non-null float64
금요일_매출_건수          66511 non-null float64
토요일_매출_건수          66511 non-null float64
일요일_매출_건수          66511 non-null float64
시간대_건수~06_매출_건수    66511 non-null float64
시간대_건수~11_매출_건수    66511 non-null float64
시간대_건수~14_매출_건수    66511 non-null float64
시간대_건수~17_매출_건수    66511 non-null float64
시간대_건수~21_매출_건수    66511 non-null float64
시간대_건수~24_매출_건수    66511 non-null float64
남성_매출_건수           66511 non-null float64
여성_매출_건수           66511 non-null float64
연령대_10_매출_건수       66511 non-null float64
연령대_20_매출_건수       66511 non-null float64
연령대_30_매출_건수       66511 non-null float64
연령대_40_매출_건수       66511 non-null float64
연령대_50_매출_건수       66511 non-null float64
연령대_60_이상_매출_건수    66511 non-null float64
점포수                66511 non-null float64
행정동_코드             184689 non-null int64
dtypes: float64(79), int64(4), object(5)
memory usage: 125.4+ MB

In [107]:
df19 = pd.merge(store19, est_sales19, how='outer', on= ['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명'])

In [108]:
df19.shape

(385729, 87)

In [136]:
df19.loc[df19['상권_코드_명']=='서울 성북구 미아삼거리역_2','상권_코드_명'] = '서울 강북구 미아삼거리역_2'

In [142]:
df19.loc[df19['상권_코드_명']=='종로·청계 관광특구','상권_코드_명'] = '종로?청계 관광특구'

In [143]:
df_final19 = pd.merge(df19,area,how='outer',on=['상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명'])
df_final19.shape

(385729, 88)

In [162]:
new_cols= ['year', 'quarter', 'CD_Class_code', 'CD_Class_code_name', 'CD_code', 'CD_code_name',
'Serv_code', 'Serv_code_name', 'store_num1', 'Similar_Store_num', 'Open_ratio', 'Open_num',
'Close_ratio', 'Close_num', 'FC_num', 'Month_sales', 'Month_sales_cnt', 'Wday_sales_ratio',
'WK_sales_ratio', 'Mon_sales_ratio', 'Tue_sales_ratio', 'Wed_sales_ratio', 'Thu_sales_ratio',
'Fri_sales_ratio', 'Sat_sales_ratio', 'Sun_sales_ratio', '00_06_sales_ratio', 
'06_11_sales_ratio', '11_14_sales_ratio', '14_17_sales_ratio', 
'17_21_sales_ratio', '21_24_sales_ratio', 'Man_sales_ratio', 'Wm_sales_ratio',
'10age_sales_ratio', '20age_sales_ratio', '30age_sales_ratio', '40age_sales_ratio',
'50age_sales_ratio', '60ages_sales_ratio', 'Wday_sales', 'WK_sales', 'Mon_sales',
'Tue_sales', 'Wed_sales', 'Thu_sales', 'Fri_sales', 'Sat_sales',
'Sun_sales', '00_06_sales', '06_11_sales', '11_14_sales', 
'14_17_sales', '17_21_sales', '21_24_sales', 'Man_sales', 
'Wm_sales', '10age_sales', '20age_sales', '30age_sales', 
'40age_sales', '50age_sales', '60ages_sales', 'Wday_sales_cnt',
'WK_sales_cnt', 'Mon_sales_cnt', 'Tue_sales_cnt', 'Wed_sales_cnt', 'Thu_sales_cnt',
'Fri_sales_cnt', 'Sat_sales_cnt', 'Sun_sales_cnt', '00_06_sales_cnt', 
'06_11_sales_cnt', '11_14_sales_cnt', '14_17_sales_cnt', 
'17_21_sales_cnt', '21_24_sales_cnt', 'Man_sales_cnt', 'Wm_sales_cnt',
'10age_sales_cnt', '20age_sales_cnt', '30age_sales_cnt', '40age_sales_cnt',
'50age_sales_cnt', '60ages_sales_cnt', 'store_num2','address_cd']

In [153]:
col = ['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수', '당월_매출_금액', '당월_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수']

In [167]:
newcol = []
for i in new_cols : 
    newcol.append(i.lower())

In [168]:
len(newcol)

88

In [169]:
df_final20.columns = newcol
df_final19.columns = newcol

In [171]:
print(df_final20.shape)
print(df_final19.shape)

(184689, 88)
(385729, 88)

In [172]:
df_final20.to_csv('df_final2020.csv',encoding = 'euc-kr',index=False)
df_final19.to_csv('df_final2019.csv',encoding = 'euc-kr',index=False)

In [175]:
data = pd.read_csv('./추가자료/추가자료/snack.csv',encoding='cp949')
data.head()

,번호,개방서비스명,개방서비스id,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,제과점영업,07_22_18_P,3110000,3110000-121-2001-08054,20010713,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,68.25,NaN,NaN,NaN,NaN
1,2,제과점영업,07_22_18_P,3110000,3110000-121-2003-00020,20030507,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,72.36,NaN,NaN,NaN,NaN
2,3,제과점영업,07_22_18_P,3110000,3110000-121-2002-00035,20021011,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,39.60,NaN,NaN,NaN,NaN
3,4,제과점영업,07_22_18_P,3110000,3110000-121-2001-08125,20011015,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,23.10,NaN,NaN,NaN,NaN
4,5,제과점영업,07_22_18_P,3060000,3060000-121-2005-00012,20050406,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,36.89,NaN,NaN,NaN,NaN

In [185]:
a = '서울특별시 은평구 대조동 179-8번지 1,2층'
a.split()[1]

'은평구'

In [186]:
data['군']=data['소재지전체주소'].apply(lambda x: str(x).split()[1])

IndexError: list index out of range

In [181]:
data['시']

0        서울특별시
1        서울특별시
2        서울특별시
3        서울특별시
4        서울특별시
5        서울특별시
6        서울특별시
7        서울특별시
8        서울특별시
9        서울특별시
10       서울특별시
11       서울특별시
12       서울특별시
13       서울특별시
14       서울특별시
15       서울특별시
16       서울특별시
17       서울특별시
18       서울특별시
19       서울특별시
20       서울특별시
21       서울특별시
22       서울특별시
23       서울특별시
24       서울특별시
25       서울특별시
26       서울특별시
27       서울특별시
28       서울특별시
29       서울특별시
         ...
11465    서울특별시
11466    서울특별시
11467    서울특별시
11468    서울특별시
11469    서울특별시
11470    서울특별시
11471    서울특별시
11472    서울특별시
11473    서울특별시
11474    서울특별시
11475    서울특별시
11476    서울특별시
11477    서울특별시
11478    서울특별시
11479    서울특별시
11480    서울특별시
11481    서울특별시
11482    서울특별시
11483    서울특별시
11484    서울특별시
11485    서울특별시
11486    서울특별시
11487    서울특별시
11488    서울특별시
11489    서울특별시
11490    서울특별시
11491    서울특별시
11492    서울특별시
11493    서울특별시
11494    서울특별시
Name: 시, Length: 11495, dtype: object